{{#models}}
{{#attributes}}
    <div class="single-test-data" id="vn{{id}}">
        <div class="task-number"><b>{{type}} №{{#plus1}}{{@index}}{{/plus1}}</b></div>
        <div class="task-content">{{{task_content}}}</div>
        <div class="clear">&nbsp;</div>
        <div class="answers">
            <div class="tb-prev-task test-button disabled"><div></div><div>Предыдущий<br>вопрос</div></div>
            <div class="tb-next-task test-button disabled"><div></div><div>Следующий<br>вопрос</div></div>
            <div>
                {{#each answers}}
                    {{#.}}<div answer="{{#plus1}}{{@index}}{{/plus1}}" class="answer hoverable">{{{.}}}</div>{{/.}}
                {{/each}}
            </div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
{{/attributes}}
{{/models}}
